<div class="newandupdate"><h1>Add a new quote</h1>
  <p class="error"><%= @fail_message %><%= @fail_message2 %>
    <% if @error_messages %>
    ERROR
    <ul class="error">
      <% @error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
  </p>  

  <p><strong>1. Please double-check that the quote you want to add isn't already in the collection:</strong><br><br>
    First, see if the speaker of the quote is in the library; if so, select that speaker, and hit the button to see existing quotes. If the speaker is not listed below, you need to <a href="/admin/people/new">create a person entry</a> for the speaker, first.<br><br></p>
  <p><form action="<%= "#{@path}" %>">
     <select name="person_id">
       <% @person_names_ids.each do |object| %>    
         <option value="<%= object.id %>"><%= object.person %></option>
      <% end  %>
    </select><br><br>  
  <input type="submit" value="SEE QUOTES" class="navbutton" style="width:105px">

  
    <br><br>
  </form></p>

  <% if @quote_choice %> 
    <%= render partial: "#{@quote_choice}" %>
  <% end %>
  <br><br>
  <hr></hr>
  <p><strong>2. If the quote you want to add isn't included in the list above, then please fill out each field in the form below.</strong></p>  
    
  <%= form_for @quote do |f| %>
   <strong><%= f.label :quote, "Quote text:" %></strong><br><br>
   <%= f.text_area :quote, placeholder: "(Maximum of 550 characters.)", required: true, autofocus: true, maxlength: 550, style: "width:100%; height:125px" %><br><br>
   <strong><%= f.label :person_id, "Speaker:" %></strong><br><br>
   (Note: If the speaker is not listed below, you need to <a href="/admin/people/new">create a person entry</a> for the speaker, first.)<br><br>
     <%= f.select :person_id, options_for_select(@person_names_ids.collect {|object| [(object.person), (object.id)] }) %><br><br>
     <%= f.submit "ADD NEW QUOTE", style: "width:150px", class: "navbutton" %>
  <% end %>
  
  
  
