<div class="formattingpartials">
  <h1><%= raw @success_message %></h1>
  <hr></hr>
  <br>
  <p align="center"><strong>TERM</strong></p>
  <p><strong><%= @object.term %></strong><br>
    <em><%= @object.phonetic %></em>
    <br><br>
    <%= raw @object.definition %><br>
  </p>
  <p><%= raw @add_keywords %></p>
</div>