<div class="excerpttext2"><p>"<%= raw "#{@item.excerpt}" %>"</p>
<p><em>- <%= "#{@item.source}" %></em>, <%= "#{@item.person.person}" %></p>
<span class="keywordtextexcerpt"><hr></hr><br>
  TAGS: <% @keywords.each do |keyword1| %>
  <a href="/keyword?keyword=<%= "#{keyword1}" %>"><%= "#{keyword1}" %></a><%= " | " %>  
<% end %>
</span> 
<br><br>
<p><iframe width="200px" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2FBLANK.COM%2Fitem%3Ftable%3Dexcerpts%26id%3D<%= "#{@item.id.to_s}" %>&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=30&amp;appId=275052925858908" scrolling="no" frameborder="0" style="border:none; height:30px;" allowTransparency="true"></iframe></p>
<p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://BLANK.COM/item?table=excerpts&id=<%= "#{@item.id.to_s}" %>" data-hashtags="DailyFemAff">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p></div>

<img class="paperimage" src="/assets/top.jpg">

<img class="machineimage" src="/assets/cctypewriter.jpg" alt="By Hannes Grobe (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons">
<p class="excerptcredit"><a href="http://commons.wikimedia.org/wiki/File%3ATypewriter-alpina_hg.jpg">Image</a> by Hannes Grobe (Own work) [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], via Wikimedia Commons</p>