<div class="termpage">
  <h1 class="termphonetic"><%= "#{@item.term}" %></h1>
  <p class="termterm"><%= "#{@item.phonetic}" %></p>
  <div class="termtable">
  <table>
    <tbody>
      <tr>
        <td class="termimage"><img class="termimagesize" src="/assets/curvedskinnyarrow.jpg"></td>
        <td class="termdefinition"><p align="justify"><%= raw "#{@item.definition}" %></p>
          <hr></hr><br>
        <p class="keywordtext"> TAGS: <% @keywords.each do |keyword1| %>
    <a href="/keyword?keyword=<%= "#{keyword1}" %>"><%= "#{keyword1}" %></a><%= " | " %>  
  <% end %>
  </p> 
        <p><iframe width="95px" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2FBLANK.COM%2Fitem%3Ftable%3Dterms%26id%3D<%= "#{@item.id.to_s}" %>&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=30&amp;appId=275052925858908" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:30px;" allowTransparency="true"></iframe></p>
        <p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://BLANK.COM/item?table=terms&id=<%= "#{@item.id.to_s}" %>" data-hashtags="DailyFemAff">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<!-- <div class="bottomspacer"></div>
<div class="bottomspacer"></div>
<div class="bottomspacer"></div> -->