<div class="newandupdate">

  <h1>Make changes to the excerpt:</h1>

  <%= form_for @excerpt, method: :put, url: "/admin/excerpts/#{@new_ex.id}" do |f| %>
    <strong><%= f.label :excerpt, "Excerpt text (maximum of 825 characters):" %></strong><br><br>
    <%= f.text_area :excerpt, required: true, maxlength: 825, style: "width:100%; height:175px", value: "#{@new_ex.excerpt}" %><br><br>
    <strong><%= f.label :source, "Source:" %></strong><br><br>
    <%= f.text_field :source, style: "width:100%", value: "#{@new_ex.source}" %><br><br>
    <strong><%= f.label :person_id, "Author/writer:" %></strong><br>
    Current author: <%= @new_ex.person.person %><br><br>
    (Note: If author or writer is not listed below, you need to <a href="/admin/people/new">create a person entry</a> for the author, first.)<br><br>
      <%= f.select :person_id, options_for_select(@person_names_ids.collect {|object| [(object.person), (object.id)] }) %>
      <br><br>
      <%= f.hidden_field :id, value: @new_ex.id %>
     <%= f.submit "UPDATE EXCERPT", style: "width:135px", class: "navbutton" %>
  <% end %>
</div>
<div class="bottomspacer"></div>
<div class="bottomspacer"></div>


