<br><br><br>
<hr></hr>
<br>
<div class="keywordItemContainer">
  <p class="keywordItem"><%= @item.send(@item.class.name.downcase) %></p>
</div>
<p><strong>Choose tags:</strong><br><br>
Check every tag you want to add, and uncheck any tags you want to remove.</p>

<form action="/admin/tags" method="post">
  <fieldset class="taglist"> 
      <% Keyword.select("id, keyword").each do |object| %>  
        <% if @existing_keywords.include?(object.keyword)  %>
          <div class="checkbox"><input type="checkbox" name="keyword[]" style="margin-left: 40px" checked value="<%= object.id %>">
            <label><%= object.keyword %></label></div>
        <% else  %>
          <div class="checkbox"><input type="checkbox" name="keyword[]" style="margin-left: 40px" value="<%= object.id %>">
            <label><%= object.keyword %></label></div>
        <% end %>
      <% end %>
  </fieldset> 
  <input name="authenticity_token" type="hidden" value="<%= session["_csrf_token"] %>" />
  <input name="table" type="hidden" value="<%= @item.class.name %>" />
  <input name="id" type="hidden" value="<%= @item.id %>" />
  <input type="submit" class="navbutton" value="SUBMIT">
  <br><br>
</form>


<!--Use JavaScript to hide checkbox, and when div is clicked, use eventlistener to check checkbox and change color of selected divs. -->